
node_modules

dist
dist-ssr
*.localcls
 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.env?


graphify-out/
.agents/

# Custom ignores
configFiles
.graphifyignore
.geminiignore
.claudeignore
.antigravityignore
agentsIgnore
git

.env
.env.production
.env.development